BG={{base00-hex}}
BTN_BG={{base01-hex}}
BTN_FG={{base05-hex}}
FG={{base05-hex}}
GRADIENT=0.0
HDR_BTN_BG={{base01-hex}}
HDR_BTN_FG={{base05-hex}}
HDR_BG={{base00-hex}}
HDR_FG={{base05-hex}}
ROUNDNESS=0
SEL_BG={{base02-hex}}
SEL_FG={{base06-hex}}
SPACING=5
TXT_BG={{base00-hex}}
TXT_FG={{base05-hex}}
WM_BORDER_FOCUS={{base05-hex}}
WM_BORDER_UNFOCUS={{base00-hex}}
TERMINAL_BACKGROUND={{base00-hex}}
TERMINAL_COLOR4={{base09-hex}}
TERMINAL_COLOR9={{base0A-hex}}
TERMINAL_COLOR10={{base0B-hex}}
TERMINAL_COLOR11={{base0C-hex}}
TERMINAL_COLOR12={{base0D-hex}}